/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    /* background-color: #000; */
    color: #fff;
  }
  
  .about-me-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .about-me-card {
    /* background: #333; */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1000px;
    padding: 3rem;
    animation: fadeIn 1.5s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  
  .about-me-card:hover {
    transform: translateY(-10px);
  }
  
  .about-heading {
    margin-bottom: 4rem;
    color: var(--dark-orange);
    font-size: 2.5rem;
    letter-spacing: 1px;
    animation: slideIn 1s ease-in-out;
    display: flex;
    justify-content: center;
  }
  
  /* .about-subheading {
    margin-bottom: 1.5rem;
    color: #03a9f4;
    font-size: 2rem;
    letter-spacing: 0.5px;
    animation: slideIn 1.2s ease-in-out;
  } */
  
  .about-paragraph {
    margin-bottom: 1rem;
    line-height: 1.8;
    color: #fff;
    font-size: 1.1rem;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .about-me-card {
      padding: 2rem;
      width: 100%;
    }
  }
  
  /* Keyframes for fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Keyframes for slide-in animation */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  