.contact-me-container {
    margin: 0;
    padding: 0;
    height: 115vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .contact-me-card {
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 1000px;
    padding: 3rem;
    animation: fadeIn 1.5s ease-in-out;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
  }
  
  /* .contact-me-card:hover {
    transform: translateY(-10px);
  } */
  
  .contact-me-left,
  .contact-me-right {
    flex: 1;
    min-width: 300px;
    padding: 1rem;
  }
  
  .contact-heading {
    margin-bottom: 0.5rem;
    color: var(--dark-orange);
    font-size: 2.5rem;
    letter-spacing: 1px;
    animation: slideIn 1s ease-in-out;
  }
  
  .contact-subheading {
    margin-bottom: 1.5rem;
    color: #03a9f4;
    font-size: 2rem;
    letter-spacing: 0.5px;
    animation: slideIn 1.2s ease-in-out;
  }
  
  .contact-paragraph {
    margin-bottom: 1rem;
    line-height: 1.8;
    color: #fff;
    font-size: 1.1rem;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #fff;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #000;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #6a11cb;
    outline: none;
  }
  
  button {
    background: #6a11cb;
    color: #fff;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    animation: fadeIn 1.8s ease-in-out;
    width: 100%;
  }
  
  button:hover {
    background: #2575fc;
  }
  
  .contact-me-extra h3 {
    color: #fff;
    margin-bottom: 0.5rem;
    animation: slideIn 1.5s ease-in-out;
  }
  
  .contact-me-extra p a {
    color: #6a11cb;
    text-decoration: none;
    transition: color 0.3s;
    animation: fadeIn 1.8s ease-in-out;
  }
  
  .contact-me-extra p a:hover {
    color: #03a9f4;
  }
  
  .colz .colz-icon i{
    color: white;
    padding: 20px;
    padding-left: 0px;
    font-size: 30px;;
}
.colz .colz-icon i:hover{
    transform: scale(1.5);
}

  @media (max-width: 768px) {
    .contact-me-card {
      flex-direction: column;
    }
  }
  
  /* Keyframes for fade-in animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Keyframes for slide-in animation */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  